@model BizSparkSupport.MVC.ViewModels.MessagesVM

@{
    ViewBag.Title = "Messages";
}

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6" style="border-right: thick solid #000000;">
            @Html.Partial("MessageList", Model.Messages)
        </div>
        <div class="col-md-6" >
            <div id="CurrentMessageDiv">
                @if (Model.CurrentMessage != null)
                {
                    @Html.Partial("ShowMessage", Model.CurrentMessage)
                }else
                {
                    <h4> No Message to Show</h4> 
                }
            </div>
        </div>
    </div>
</div>